open5gs/open5gs-containers/logs/amf/amf.log
open5gs/open5gs-containers/logs/ausf/ausf.log
open5gs/open5gs-containers/logs/nrf/nrf.log
open5gs/open5gs-containers/logs/nssf/nssf.log
open5gs/open5gs-containers/logs/pcf/pcf.log
open5gs/open5gs-containers/logs/scp/scp.log
open5gs/open5gs-containers/logs/smf/smf.log
open5gs/open5gs-containers/logs/udm/udm.log
open5gs/open5gs-containers/logs/udr/udr.log
open5gs/open5gs-containers/logs/upf/upf.log
open5gs/open5gs-containers/logs/upf/upf.log
